@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

body {
  background: url('https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/66585266_3072455329461171_6998459293968105472_o.png?_nc_cat=103&ccb=3&_nc_sid=dd9801&_nc_ohc=688YLnhSdY8AX_UHrab&_nc_ht=scontent-atl3-1.xx&oh=aa681c2950c14e86f7cd7e9ecb7865bd&oe=60675BE0');
}

.beforeNavbar {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.beforeNavbar-brand img {
  width: 2em;
}

.navbar {
  justify-content: space-between;
}
.navbar-brand img {
  width: 1.5em;
}

#showCreateBoardButton img {
  width: 1.5em;
}

#showCreatePinButton img {
  width: 1.5em;
}

#searchInput {
  border-color: pink;
  border-radius: 5px;
}

#searchButton {
  border-color: pink;
  background-color: pink;
  border-radius: 5px;
}

#google-auth {
  color: white;
  border-color: red;
  background-color: red;
  border-radius: 5px;
}

#beforeAuthContent {
  display: flex;
  justify-content: center;
  padding-top: 250px;
}

#beforeAuthContent h2 {
  color: red;
}

#content {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  margin: auto;
  justify-content: center;
  padding-top: 50px;
}

.card {
  margin: 10px;
  border-radius: 10px;
}

.card-img-top {
  height: 350px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.view-pins-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.delete-board-btn {
  background-color: red;
  color: white;
  border-radius: 5px;
}

h5 {
  color: white;
  background-color: pink;
  border-radius: 5px;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  justify-content: center;
}

#add-button {
  display: flex;
  justify-content: center;
}

#add-board-btn {
  background-color: red;
  img {
    width: 2em;
  }
}

#add-pin-btn {
  background-color: red;
  img {
    width: 2em;
  }
}

#profileContainer {
  display: flex;
  justify-content: center;
   img {
     border-radius: 100%;
     width: 10em;
     align-items: center;
   }
}

h6 {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white;
}

#formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  justify-content: center;
}

#submit-board-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 50%;
  border-radius: 10px;
}

.form-group {
  width: 90%;
}

#submit-board {
  background-color: pink;
  color: white;
  height: 2em;
  width: 25%;
}
